/* -----------------------------------------------------------------
  Reset setup
-------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    line-height: 24px;
    overflow-x: hidden;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

q:before,
q:after {
    content: ''
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input,
textarea,
select {
    *font-size: 100%
}

legend {
    color: #000
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.img-responsive {
    max-width: 100%;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

.section {
    padding: 0 !important;
}

.text-center {
    text-align: center
}

.p-l-25 {
    padding-left: 25px;
}


/* -----------------------------------------------------------------
  Font Setup
-------------------------------------------------------------------*/

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-Black.woff2') format('woff2'), url('../fonts/Arial-Black.woff') format('woff'), url('../fonts/Arial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SignPainter';
    src: url('../fonts/SignPainter-HouseScript.woff2') format('woff2'), url('../fonts/SignPainter-HouseScript.woff') format('woff'), url('../fonts/SignPainter-HouseScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* -----------------------------------------------------------------
  Loader
-------------------------------------------------------------------*/

.loader {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 99999;
    opacity: 1;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dizzy-gillespie {
    -webkit-filter: saturate(3);
    filter: saturate(3);
    width: 0.1px;
    height: 0.1px;
    border: 40px solid transparent;
    border-radius: 5px;
    -webkit-animation: loader 3s ease-in infinite, spin 1s linear infinite;
    animation: loader 3s ease-in infinite, spin 1s linear infinite;
}

.dizzy-gillespie::before {
    -webkit-filter: saturate(0.3);
    filter: saturate(0.3);
    display: block;
    position: fixed;
    z-index: -1;
    margin-left: -40px;
    margin-top: -40px;
    content: '';
    height: 0.1;
    width: 0.1;
    border: 40px solid transparent;
    border-radius: 5px;
    animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
}

.dizzy-gillespie::after {
    display: block;
    position: absolute;
    z-index: 2;
    margin-left: -10px;
    margin-top: -10px;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: white;
}

@-webkit-keyframes loader {
    0% {
        border-bottom-color: transparent;
        border-top-color: #114357;
    }
    25% {
        border-left-color: transparent;
        border-right-color: #826C75;
    }
    50% {
        border-top-color: transparent;
        border-bottom-color: #F29492;
    }
    75% {
        border-right-color: transparent;
        border-left-color: #826C75;
    }
    100% {
        border-bottom-color: transparent;
        border-top-color: #114357;
    }
}

@keyframes loader {
    0% {
        border-bottom-color: transparent;
        border-top-color: #114357;
    }
    25% {
        border-left-color: transparent;
        border-right-color: #826C75;
    }
    50% {
        border-top-color: transparent;
        border-bottom-color: #F29492;
    }
    75% {
        border-right-color: transparent;
        border-left-color: #826C75;
    }
    100% {
        border-bottom-color: transparent;
        border-top-color: #114357;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


/* -----------------------------------------------------------------
  Main Css 
-------------------------------------------------------------------*/

.secHeader {
    background-image: url('../images/headerbanner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    min-height: 900px;
    position: relative;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
#particles-js{
    height: 220px!important;
    overflow: hidden;
}
#particles-js canvas {
    height: 100% !important;
}
.brand{
    max-width: 220px;
    margin: 0 auto;
}
.brand-mobile {
    display: none;
}

.secHeader .secHeader-content > h4 {
    margin-top: 65px;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

.secHeader .secHeader-content > p {
    font-size: 300px;
    font-family: 'arial';
    color: #fff;
    line-height: 0.85;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.secHeader-content > span {
    color: #FCF8F8;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    opacity: 0.7;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-top: 43px;
}

.scrollDown {
    position: absolute;
    bottom: 142px;
    width: 100%;
    left: 0;
}

.scrollerouterBody {
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.scrollerouterBody:after {
    position: absolute;
    content: "";
    background-image: url('../images/afterline.png');
    background-repeat: no-repeat;
    width: 2px;
    height: 50px;
    top: 70px;
    left: 29px;
}

.jump-tabs {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

.jump-tabs>ul {
    position: relative;
}

.jump-tabs>ul>li {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #975e99;
    text-align: center;
    line-height: 90px;
    margin: 62px 0;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 0px #2d2a2a;
    -moz-box-shadow: 0px 0px 10px 0px #2d2a2a;
    -webkit-box-shadow: 0px 0px 10px 0px #2d2a2a;
    overflow: hidden;
}

.jump-tabs>ul:after {
    position: absolute;
    content: "";
    top: -253px;
    right: 42px;
    height: 900px;
    width: 2px;
    background-color: #fff;
    z-index: -1;
    opacity: 0.2;
}

.jump-tabs>ul>li>a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 37px 6px;
}

.secXoptimized {
    min-height: 900px;
    background-image: url(../images/xoptimizebanner.png);
    background-color: #111160;
    background-size: cover;
    background-position: 100%;
}
.secXoptimized .row{margin: 0;}
.whiteCard {
    background-image: url(../images/bgwhitecard.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 690px;
    width: 690px;
    background-color: #fff;
    margin: -70px 0 0 100px;
}

.whiteCard h1 {
    font-size: 130px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #000;
    display: inline-block;
    line-height: 193px;
    width: 425px;
    max-width: 100%;
}

.whiteCard .count {
    padding-top: 129px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.whiteCard span {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #000;
    display: inline-block;
    line-height: 74px;
    padding-left: 7px;
}

.whiteCard small {
    font-size: 16px;
    color: #788290;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: block;
    line-height: 28px;
    margin-top: -6px;
    padding-left: 5px;
}

.billionExperience {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: url(../images/xoptimizebannerglobe.png)no-repeat;
    padding-top: 375px;
    padding-bottom: 368px;
    background-position: center;
}

.billionContent>h2 {
    font-size: 90px;
    color: #FCFCFC;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    line-height: 133px;
}

.billionContent>span {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.6;
    color: #FFFFFF;
    line-height: 22px;
    font-weight: 500;
    display: inline-block;
}

.secJoining {
    background-image: url('../images/user_iconbanner.png');
    padding: 80px 0;
    position: relative;
}

.secJoining:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(0deg, #09094A, #09094A);
    top: 0;
    left: 0;
    z-index: -1;
}

.secJoining .innerBox {
    background: #504199 url(../images/innerbox-banner.png)no-repeat;
    min-height: 740px;
    background-size: cover;
    background-position: top right;
}

.innerBox .count {
    padding: 60px 0 0 97px;
}

.innerBox>span {
    color: #fff;
    font-weight: 300;
    float: right;
    padding: 91px 66px 0px 0;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.6;
    font-size: 18px;
}

.innerBox .count > p {
    color: #fff;
    font-weight: 700;
    margin: 0;
    font-size: 140px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    line-height: 170px;
}

.innerBox .count>h2 {
    display: inline-block;
    padding-left: 18px;
}

.innerBox .count span {
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: -21px;
    line-height: 40px;
}

.innerBox .count small {
    opacity: 0.4;
    color: #fff;
    font-size: 16px;
    position: relative;
    left: -100px;
}

.secScale {
    position: relative;
    padding-bottom: 35px;
}

.mobile-scale {
    display: none;
}

.addedUser {
    position: absolute;
    top: 8px;
    right: 61px;
    width: 307px;
    height: 169px;
    border-radius: 8px;
    text-align: center;
}

.addedUser .addedUser-content>p {
    font-family: 'Oswald', sans-serif;
    color: #504199;
    font-size: 80px;
    font-weight: bold;
    line-height: 119px;
}

.addedUser .addedUser-content>span {
    font-family: 'Open Sans', sans-serif;
    color: #504199;
    font-size: 16px;
    padding: 0;
    display: inline-block;
    line-height: 21px;
    font-weight: 600;
}

.addedUser-content {
    display: inline-block;
    text-align: center;
}

.secGoals {
    background: #111160 url('../images/bg-goals.png');
    background-size: cover;
    min-height: 1597px;
    padding: 130px 0 0;
    position: relative;
}

.secGoals>p {
    color: #fff;
    opacity: 0.7;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    padding: 0px 360px;
}

.goalsCreated {
    margin-top: 82px;
    min-height: 714px;
    background-image: url(../images/goals-created.png);
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 58px 118px;
}

.goalsCreated h2 {
    color: #fff;
    font-size: 130px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    display: inline-block;
    width: 450px;
    max-width: 100%;
}

.goalsCreated h3 {
    display: inline-block;
    padding-left: 15px;
}

.goalsCreated h3>span {
    font-size: 50px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.goalsCreated h3>small {
    display: block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #F7F7F7;
    opacity: 0.5;
    padding-left: 5px;
    line-height: 1;
}


/*start funnel*/

.funnel-web svg {
    width: 100%;
    height: auto;
}

.funnel-mobile {
    display: none;
    width: 100%;
}

.funnel-mobile img {
    width: 100%;
    height: auto;
}

.funnel-text {
    float: right;
    padding-right: 150px;
    margin-top: -148px;
}

.funnel-text h1 {
    display: inline-block;
    color: #fff;
    font-size: 130px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.funnel-text h2 {
    display: inline-block;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    padding-left: 10px;
}

.funnel-text h2 span {
    display: block;
    opacity: .6;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}


/*end funnel*/

.secServers {
    background-color: #30217e;
    padding: 114px 115px 135px 0;
}
.secServers .row{
    display: inline-block;
    width: 100%;
}
.secServers .row .col-sm-5{
    float: right;
}
.serveradmin {
    max-width: 674px;
}

.serverContent .count {
    padding-bottom: 98px;
    border-bottom: 2px solid #595990;
    margin-bottom: 82px;
    padding-top: 70px;
}

.serverContent .count>h2 {
    font-size: 130px;
    color: #fff;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.serverContent .count span {
    font-size: 40px;
    color: #fff;
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-left: 22px;
    top: -22px;
}

.serverContent .count small {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    position: absolute;
    bottom: -17px;
    left: 23px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.6;
}

.commits>h3 {
    color: #fff;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.commits span {
    font-size: 36px;
    position: relative;
    width: 50%;
    display: inline-block;
    margin-left: 5px;
    top: -20px;
}

.commits span>small {
    font-size: 15px;
    color: #fff;
    display: inline-block;
    position: absolute;
    bottom: -20px;
    left: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    opacity: 0.6;
}

.commits p {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    opacity: 0.7;
}

.secAnalysis {
    min-height: 900px;
    background: #504199 url(../images/bg-analysis.png);
    padding-top: 90px;
}

.whiteBg {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 0 50px 32px;
    margin-bottom: 22px;
    max-height: 350px;
}

.whiteBg h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 75px;
    display: inline-block;
    color: #000;
}

.whiteBg span {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #788290;
}

.whiteBg h6 {
    display: inline-block;
    margin-left: 14px;
}

.whiteBg p {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.imgArea {
    max-width: 258px;
}

.secSupport {
    background: #504199 url('../images/bg-support.png');
}
.secSupport .row{
    margin: 0;
}
.supportFigure {
    max-width: 690px;
    float: right;
}

.supportContent {
    padding: 150px 0 0 115px;
}

.supportContent>div>p {
    font-size: 110px;
    color: #fff;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    width: 305px;
    max-width: 100%;
}

.supportContent h2 {
    display: inline-block;
    width: 40%;
    padding-left: 10px;
}

.supportContent h2 span {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #fff;
}

.supportContent h2 small {
    font-size: 14px;
    color: #b6b3d5;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 20px;
}

.average {
    display: inline-block;
    width: 100%;
    padding-top: 22px;
}

.average>ul>li>span:first-child {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.average>ul>li {
    float: left;
    width: 30%;
}

.average>ul>li:nth-child(2) {
    margin-left: 38px;
}

.average>ul>li>span>em {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.average>ul>li>span:last-child {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    color: #b8b2d6;
    line-height: 20px;
}

.quries {
    position: relative;
    padding-bottom: 75px;
}

.quries:after {
    position: absolute;
    content: "";
    width: 520px;
    height: 1px;
    background-color: #fff;
    opacity: 0.2;
    bottom: 25px;
    left: 12px;
    box-shadow: 0px 0px 10px rgba(81, 81, 81, 0.1);
}

.hours {
    position: relative;
    padding-bottom: 75px;
    margin-top: 10px;
}

.supportContent>.hours>h1 {
    font-size: 100px;
}

.hours:after {
    position: absolute;
    content: "";
    width: 430px;
    height: 1px;
    background-color: #fff;
    opacity: 0.2;
    bottom: 29px;
    left: 12px;
    box-shadow: 0px 0px 10px rgba(81, 81, 81, 0.1);
}

.secFunctionalities {
    background: #09094a url(../images/bg-functionality.png);
    background-size: cover;
    padding: 125px 0 110px;
}

.functions h2 {
    color: #fff;
    font-size: 110px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    display: inline-block;
    margin-left: 45px;
}

.functions h3 {
    display: inline-block;
    padding-left: 15px;
}

.functions h3>span {
    font-size: 40px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.functions h3>small {
    display: block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    opacity: 0.5;
    padding-top: 10px;
}

.func_img {
    text-align: center;
    padding-bottom: 110px;
    max-width: 281px;
    margin-left: 150px;
}

.point-note {
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    padding: 140px 55px 0;
    opacity: 0.7;
}

.loveSupport {
    background-color: #1f217b;
    padding: 145px 0 130px;
}

.loveSupport .row {
    display: inline-block;
}

.testimonial {
    width: 100%;
    border: 10px solid #fff;
    padding: 0 58px 54px;
    text-align: center;
    margin-top: 110px;
}

.quoteBox {
    display: inline-block;
    width: 176px;
    text-align: center;
    position: relative;
    top: -40px;
    background-color: #1f217b;
}

.testimonial-content {
    color: #fff;
    text-align: left;
    font-size: 25px;
    font-style: italic;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 70px;
}

.companyName {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    width: 100%;
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.writerName {
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.writerName:after {
    position: absolute;
    content: "";
    width: 76px;
    height: 1px;
    background-color: #fff;
    top: -25px;
    left: 0;
}

.heading {
    color: #fff;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 0 15px;
}

.heading>span {
    line-height: 0.8;
}

.heading>span:first-child {
    display: inline-block;
    font-size: 86px;
    width: 100%;
    padding-bottom: 20px;
    opacity: 0.1 !important;
}

.heading>span:nth-child(2) {
    display: inline-block;
    font-size: 160px;
    width: 100%;
    padding-bottom: 20px;
    opacity: 0.2 !important;
}

.heading>span:last-child {
    display: inline-block;
    font-size: 250px;
    width: 100%;
    padding-bottom: 20px;
    opacity: 0.3 !important;
}

.secTwitterlinks {
    background-color: #1f217b;
    padding-bottom: 120px;
    margin: -1px 0;
}

.secTwitterlinks p {
    font-size: 170px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    opacity: 0.1;
    line-height: 0.85;
}

.quick-links {
    padding: 0 44px;
}

.quick-links .col-sm-6 {
    padding: 0 10px;
}

.quick-links .tweetBox {
    margin-bottom: 12px;
}

.secMilestone {
    padding-top: 81px;
    background-color: #EFF3FF;
}

.secMilestone p {
    font-size: 140px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #1f217b;
    opacity: 0.7;
    padding-left: 120px;
    line-height: 130px;
    letter-spacing: 10px;
}

.globallyCustomers h5 {
    color: #121a28;
    opacity: 0.8;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

strong {
    font-weight: 600;
}

.secMap {
    min-height: 686px;
    background: #fff url('../images/bg-map.png')no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 108px;
}

.secMap:after {
    position: absolute;
    content: "";
    height: 106px;
    width: 5px;
    background-image: url(../images/dash-line.png);
    background-repeat: no-repeat;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.secMap .cutomers>span,
.secMap .cutomers em {
    color: #121a28;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.secMap .cutomers small {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: block;
    top: -20px;
}

.secMap .countries>span {
    color: #524a84;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.secMap .countries small {
    color: #524a84;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: block;
    top: -20px;
}

.cutomers {
    float: left;
    line-height: 1.5;
    position: relative;
    padding-right: 90px;
}

.cutomers:after {
    position: absolute;
    content: "";
    height: 110px;
    width: 2px;
    background-color: #d8d8d8;
    top: 28px;
    right: 50px;
}

.countries {
    float: left;
    line-height: 1.5;
}


/*start startup-award*/

.startup-award {
    background-image: url(../images/award-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    margin: 50px 0;
    border-radius: 5px;
}

.startup-text {
    padding: 15px 0 15px 80px;
}

.startup-text p {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    line-height: 50px;
    font-style: italic;
}

.startup-text p span {
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-style: normal;
}


/*end startup-award*/


/*start culture-bg*/

.culture-bg {
    background-image: url(../images/culture-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    min-height: 864px;
}

.culture-bg .text p {
    color: #504199;
    font-weight: 700;
    margin: 0;
    font-size: 140px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    opacity: 0.7;
    letter-spacing: 10px;
    line-height: 170px;
}

.culture-bg .text h3 {
    color: #121a28;
    font-weight: 600;
    font-size: 26px;
    margin: 15px 0 0;
    line-height: 34px;
    opacity: 0.8;
}

.culture-bg .text h3 span {
    display: block;
}


/*end culture-bg*/


/*start map section*/

.purple-bg {
    background: #504199;
    padding-top: 50px;
    margin: -1px 0;
}

.white-bg {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 80px;
}

.wingifighters {
    margin-top: 130px;
    text-align: center;
    margin-bottom: 40px;
}

.wingifighters h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #121A28;
}

.wingifighters .numbers {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.numbers h3 {
    display: inline-block;
}

.numbers h3 {
    display: inline-block;
    padding: 0 15px 0 30px;
}

.wingifighters .numbers h3>span {
    font-size: 60px;
    color: #121A28;
    text-align: center;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    width: 105px;
    max-width: 100%;
}

.wingifighters .numbers h3 small {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.wingifighters .numbers h3.purple-color {
    color: #8375ba;
}

.wingifighters .numbers h3.purple-color span {
    color: #8375ba;
}

.wingifighters img {
    max-width: 100%;
}

.wingifighter-under {
    padding-left: 70px;
    display: inline-block;
    width: 100%;
}

.wingifighter-under h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #121A28;
    margin: 50px 0 0;
    float: left;
    font-size: 30px;
}
.wingifighter-under b{
    display: inline-block;
    width: 30px;
    max-width: 100%;
}
.wingifighter-under p.who-love {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 160px;
    color: #504199;
    float: left;
    margin-left: 30px;
    margin-top: -18px;
    opacity: 0.2;
    line-height: 129px;
}

.mg-top-30 {
    margin-top: 30px;
}

.why-love-box {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.why-love-box h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #121A28;
    font-size: 22px;
    margin-bottom: 20px;
}

.why-love-box .culture-images {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-bottom: 0;
}

.why-love-box img {
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    width: 100%;
}

.why-love-box:hover img {
    transform: translateY(-10px)
}

.why-love-box h1 span {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #121A28;
    font-size: 40px;
    line-height: 18px;
}

.why-love-box h1 small {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: 40px;
    display: inline-block;
}

.why-love-box p {
    color: #121A28;
    mix-blend-mode: normal;
    opacity: 0.6;
    line-height: 22px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-left: 61px;
    font-weight: 600;
    padding-top: 10px;
}

.why-love-box p span {
    display: block;
}

.coconut-water {
    background-color: #fff;
    border-radius: 10px;
    padding: 100px 40px 0;
    background-image: url(../images/coconut-water.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 740px;
}

.coconut-water h1 span {
    font-size: 70px;
    color: #121a28;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.coconut-water h1 small {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.coconut-water h3 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.coconut-water h3 span {
    display: block;
}

.coconut-water p {
    color: #555;
    font-weight: 600;
    font-size: 16px;
}

.side-box {
    min-height: 360px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.side-box h6 {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-right: 10px;
}

.side-box h3 {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.side-box h3 span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    color: #121a28;
    opacity: 0.6;
}

.side-box h4 {
    font-weight: 700;
    font-size: 22px;
    margin: 10px 0;
}

.side-box p {
    color: #121a28;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 600;
}

.side-box a {
    text-decoration: underline !important;
}

.conferencesBox {
    background-image: url(../images/culture-conferences.png);
}

.babiesBox {
    background-image: url(../images/culture-babies.png);
}

.applicationsBox {
    background-image: url(../images/culture-applications.png);
    background-position: right bottom;
    background-size: 80%;
}

.documentsBox {
    background-image: url(../images/culture-documents.png);
    background-position: right bottom;
    background-size: 90%;
}

.mg-top-20 {
    margin-top: 20px;
}


/*end map section*/


/*start footer*/

footer {
    background-color: #504199;
    padding-top: 100px;
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    overflow: hidden;
}

footer p.heading {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 70px;
    margin-bottom: 50px;
}

.media-images {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 440px;
    position: relative;
}

.media-images>span {
    display: inline-block;
    position: absolute;
}

.media-images span .round-image {
    background: #fff;
    width: 210px;
    height: 210px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    box-shadow: 0 10px 40px 0 rgba(23, 28, 33, .13), 0 31px 13px 0 rgba(23, 28, 33, .05);
    overflow: hidden;
}

@-webkit-keyframes floating {
    from {
        -webkit-transform: translateY(8px) rotate3d(0, 0, 1, 3deg);
        transform: translateY(8px) rotate3d(0, 0, 1, 3deg)
    }
    to {
        -webkit-transform: translateY(-8px) rotate3d(0, 0, 1, 0deg);
        transform: translateY(-8px) rotate3d(0, 0, 1, 0deg)
    }
}

@keyframes floating {
    from {
        -webkit-transform: translateY(8px) rotate3d(0, 0, 1, 3deg);
        transform: translateY(8px) rotate3d(0, 0, 1, 3deg)
    }
    to {
        -webkit-transform: translateY(-8px) rotate3d(0, 0, 1, 0deg);
        transform: translateY(-8px) rotate3d(0, 0, 1, 0deg)
    }
}

.media-images span .round-image img {
    width: auto;
    height: auto;
}

.media-images>span:nth-child(1) {
    top: 182px;
    left: 0;
}

.media-images>span:nth-child(2) {
    top: 10px;
    left: 18%;
}

.media-images>span:nth-child(3) {
    top: 160px;
    left: 36%;
}

.media-images>span:nth-child(4) {
    top: 20px;
    left: 56%;
}

.media-images>span:nth-child(5) {
    top: 232px;
    right: 12%;
}

.media-images>span:nth-child(6) {
    right: 0;
    top: 30px;
}

.media-images>span:nth-child(1) .round-image {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.media-images>span:nth-child(2) .round-image {
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.media-images>span:nth-child(3) .round-image {
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.media-images>span:nth-child(4) .round-image {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.media-images>span:nth-child(5) .round-image {
    -webkit-animation-delay: -2.9s;
    animation-delay: -2.9s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.media-images>span:nth-child(6) .round-image {
    -webkit-animation-delay: -3.9s;
    animation-delay: -3.9s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.thankyou {
    text-align: center;
    margin-top: 70px;
}

.thankyou p:first-child {
    color: #fff;
    font-size: 300px;
    font-family: 'SignPainter';
    line-height: 1;
}

.thankyou p {
    color: #b6b7ca;
    font-size: 20px;
    font-weight: 400;
    margin: -50px 0 20px;
}

.thankyou h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: #fff;
    margin-bottom: 80px;
}

.try-vwo {
    text-align: center;
}

.try-vwo p {
    color: #fff;
    font-size: 17px;
}

.try-vwo p a {
    background: #188AF0;
    color: #fff;
    font-size: 13px;
    padding: 5px 15px;
    display: inline-block;
    margin-left: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}

.try-vwo p a:hover {
    color: #188AF0;
    background: #fff;
}

.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons ul li {
    display: inline-block;
    margin: 0 5px;
}

.social-icons ul li a {
    color: #585882;
    font-size: 30px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    display: inline-block;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}

.social-icons ul li a:hover {
    color: #fff;
}

.footer-globe {
    margin-top: 100px;
    text-align: center;
    position: relative;
}

.footer-globe img {
    width: 825px;
    max-width: 100%;
}

.footer-globe p {
    position: absolute;
    font-size: 240px;
    opacity: .1;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Arial';
    color: #fff;
    line-height: 250px;
}

.footer-globe .glow {
    width: 835px;
    height: 810px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -480px;
    animation: glowing 1.2s linear infinite alternate;
    -webkit-animation: glowing 1.2s linear infinite alternate;
    -moz-animation: glowing 1.2s linear infinite alternate;
    transition: 25s all;
    -moz-transition: 25s all;
    -webkit-transition: 25s all;
}

//glowing animation
@keyframes glowing {
    from {
        box-shadow: 0 0 0px 0px #321673, 0 0 0px 0px #321673, 0 0 40px 20px #a1528f;
    }
    to {
        box-shadow: 0 0 0px 0px #321673, 0 0 0px 0px #321673, 0 0 20px 10px #a1528f;
    }
}

@-webkit-keyframes glowing {
    from {
        box-shadow: 0 0 0px 0px #321673, 0 0 0px 0px #321673, 0 0 40px 20px #a1528f;
    }
    to {
        box-shadow: 0 0 0px 0px #321673, 0 0 0px 0px #321673, 0 0 20px 10px #a1528f;
    }
}

@-moz-keyframes glowing {
    from {
        box-shadow: 0 0 0px 0px #321673, 0 0 0px 0px #321673, 0 0 40px 20px #a1528f;
    }
    to {
        box-shadow: 0 0 0px 0px #321673, 0 0 0px 0px #321673, 0 0 20px 10px #a1528f;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(304, 200, 70, 0.4);
        box-shadow: 0 0 0 0 rgba(304, 200, 70, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(304, 200, 70, 0);
        box-shadow: 0 0 0 10px rgba(304, 200, 70, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(304, 200, 70, 0);
        box-shadow: 0 0 0 0 rgba(304, 200, 70, 0);
    }
}


/*end footer*/


/*start timeline*/

.timeline-main {
    position: relative;
    overflow: hidden;
}

.timeline-main::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-image: url(../images/lining.png);
    z-index: -1;
    background-repeat-y: repeat;
    background-position: bottom;
}

.conversion-optimize {
    background-image: url(../images/optimize-platform.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    border-radius: 5px;
}

.conversion-optimize .text {
    padding-left: 100px;
}

.conversion-optimize .text h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
}

.conversion-optimize .text h5 span {
    display: block;
}

.conversion-optimize .text p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
}

.conversion-optimize .text p span {
    display: block;
}

.conversion-optimize .image img {
    max-width: 100%;
}

.devfest-box {
    text-align: center;
    padding: 50px 0 80px;
    background-image: url(../images/devfest-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    border-radius: 5px;
    position: relative;
}

.devfest-box::before {
    content: '';
    background-image: url(../images/lining2.png);
    height: 5px;
    width: 24%;
    position: absolute;
    z-index: -1;
    right: -108px;
    top: 30px;
    background-repeat-x: repeat;
    background-position: right;
}

.devfest-box p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
}

.devfest-box p span {
    display: block;
}

.win-growth {
    text-align: center;
    padding: 50px 0 80px;
    background-image: url(../images/win-growth-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 290px;
    min-height: 500px;
    border-radius: 5px;
    position: relative;
}

.win-growth::before {
    content: '';
    background-image: url(../images/lining2.png);
    height: 5px;
    width: 24%;
    position: absolute;
    z-index: -1;
    left: -108px;
    top: 30px;
    background-repeat-x: repeat;
    background-position: left;
}

.win-growth h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #121A28;
    font-size: 50px;
}

.win-growth p {
    color: #121A28;
    font-size: 16px;
    margin-top: 20px;
    line-height: 24px;
    font-weight: 600;
}

.win-growth p span {
    display: block;
}

.inktober-box {
    padding: 200px 0;
    background-image: url(../images/inktober-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 90px;
    border-radius: 5px;
}

.inktober-box h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    margin-top: 40px;
}

.inktober-box p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
}

.wing-added {
    text-align: center;
    padding: 340px 0 50px;
    background-image: url(../images/200th-added.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    border-radius: 5px;
}

.wing-added h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 130px;
    color: #fff;
    display: inline-block;
    width: 210px;
    max-width: 100%;
}

.wing-added h6 {
    font-size: 60px;
    margin-left: -20px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-weight: bold;
    padding-left: 20px;
}

.wing-added h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #fff;
}


/*end timeline*/


/*stat india-map*/

.india-map {
    margin-top: 60px;
}

.india-map p {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #121A28;
}

.map-main .col-sm-6 {
    position: inherit;
    text-align: center;
}

.map-image {
    margin-top: 50px;
}

.map-image svg path {
    cursor: pointer;
    fill: #f0f9fe;
    stroke: #ccc;
}

.map-image svg path:hover {
    fill: #e1f3fe;
}

.description {
    pointer-events: none;
    position: absolute;
    font-size: 16px;
    text-align: center;
    background: #4f4199;
    padding: 0px 15px;
    z-index: 5;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color: #fff;
    border-radius: 5px;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}
.description.active {
    display: block
}

.description:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4f4199;
}


/*end india-map*/


/*start youtube video*/

.YouTubePopUp-Wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 9999999999999;
}

.YouTubePopUp-animation {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUp;
    animation-name: YouTubePopUp;
}

@-webkit-keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body.logged-in .YouTubePopUp-Wrap {
    /* For WordPress */
    top: 32px;
    z-index: 99998;
}

.YouTubePopUp-Content {
    max-width: 680px;
    display: block;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.YouTubePopUp-Content iframe {
    max-width: 100% !important;
    width: 100% !important;
    display: block !important;
    height: 480px !important;
    border: none !important;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.YouTubePopUp-Hide {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUpHide;
    animation-name: YouTubePopUpHide;
}

@-webkit-keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.YouTubePopUp-Close {
    position: absolute;
    top: 0;
    cursor: pointer;
    bottom: 528px;
    right: 0px;
    margin: auto 0;
    width: 24px;
    height: 24px;
    background: url(../images/close.png) no-repeat;
    background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
}

.YouTubePopUp-Close:hover {
    opacity: 0.5;
}

@media all and (max-width: 768px) and (min-width: 10px) {
    .YouTubePopUp-Content {
        max-width: 90%;
    }
}

@media all and (max-width: 600px) and (min-width: 10px) {
    .YouTubePopUp-Content iframe {
        height: 320px !important;
    }
    .YouTubePopUp-Close {
        bottom: 362px;
    }
}

@media all and (max-width: 480px) and (min-width: 10px) {
    .YouTubePopUp-Content iframe {
        height: 220px !important;
    }
    .YouTubePopUp-Close {
        bottom: 262px;
    }
}


/*end youtube video*/


/* ---- start particles.js ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: none;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.count-particles {
    background: transparent;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}


/* ---- end particles.js ---- */
@media only screen and (max-width: 1200px) {
    .wingifighter-under h1.who-love {
        font-size: 135px;
    }
}
@media only screen and (max-width: 1024px){
    .whiteCard{
        width: 100%;
    }
    .billionContent>h2{
        font-size: 70px;
    }
    .billionContent>span{
        font-size: 16px;
    }
    .addedUser{
        right: 28px;
        top: 0;
    }
    .addedUser .addedUser-content>p{
        line-height: 110px;
    }
    .secGoals>p{
        padding: 0 300px;
    }
    .funnel-text {
        margin-top: 0;
        padding-left: 120px;
    }
    .whiteBg h2{
        font-size: 55px;
    }
    .func_img{
        margin-left: 100px;
    }
    .functions h2{
        font-size: 80px;
    }
    .functions h3>span{
        font-size: 30px;
    }
    .serverContent .count>h2{
        font-size: 100px;
    }
    .commits span{
        width: 30%;
        margin-left: 0;
    }
    .commits span>small{
        font-size: 14px;
        bottom: -55px;
    }
    .commits p {
        padding: 30px 0;
        font-size: 14px;
        line-height: 16px;
        max-width: 200px;
    }
    .serverContent .count{
        padding-bottom: 68px;
        margin-bottom: 72px;
        padding-top: 70px;
    }
    .heading>span:first-child{
        font-size: 76px;
    }
    .heading>span:nth-child(2){
        font-size: 130px;
    }
    .heading>span:last-child{
        font-size: 210px;
    }
    .secTwitterlinks p{
        font-size: 140px;
    }
    .devfest-box::before{
        right: -88px;
    }
    .win-growth::before{
        left: -88px;
    }
    .startup-award{
        background-size: 100%;
    }
    .wingifighter-under p.who-love{
        font-size: 130px;
    }
    .coconut-water h1 span{
        font-size: 60px;
    }
    .media-images span .round-image{
        width: 160px;
        height: 160px;
    }
    .round-image > img{
        max-width: 80%;
    }
    .quries:after{
        bottom: 55px;
    }
    .goalsCreated h2{
        font-size: 100px;
    }
}
@media only screen and (max-width: 768px){
    .jump-tabs{
        display: none;
    }
    #particles-js{
        display: none;
    }
    .secHeader{
        background-image: url(../images/headerbannermobile.png);
    }
    .secHeader .secHeader-content > p{
        font-size: 100px;
        line-height: 117px;
    }
    .secHeader-content > span{
        max-width: 240px;
        font-size: 17px;
        line-height: 19px;  
    }
    .secHeader{
        min-height: 635px;
    }
    .brand-mobile{
        display: block;
        max-width: 200px;
        margin: 0 auto;
    }
    .brand {
        display: none;
    }
    .secXoptimized .row{
        display: inline-block;
        width: 100%;
        margin: 0;
    }
    .secXoptimized .row .col-sm-7, .secXoptimized .row .col-sm-5{
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .whiteCard{
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .whiteCard .count{
        max-width: 240px;
        text-align: left;
        padding-top: 61px;
    }
    .whiteCard h1{
        font-size: 70px;
        line-height: 104px;
    }
    .whiteCard span{
        font-size: 30px;
        line-height: 44px;
    }
    .whiteCard small{
        display: inline-block
    }
    section#optimized {
        background-image: none;
    }
    .billionContent>h2 {
        font-size: 70px;
        line-height: 104px;
    }
    .innerBox .count > p{
        font-size: 70px;
        width: 100%;
        line-height: 110px;
    }
    .innerBox .count span{
        font-size: 30px;
        line-height: 45px;
    }
    .innerBox .count span br{
        display: none;
    }
    .innerBox .count small{
        top:-22px;
        left: 10px;
    }
    .innerBox .count>h2 {
        display: inline-block;
        padding-left: 10px;
        line-height: 100px;
    }
    .web-scale {
        display: none;
    }
    .mobile-scale {
        display: inline-block;
        width: 100%;
    }
    .addedUser{
        width: 84%;
        height: 52%;
    }
    .addedUser {
        right: 57px;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .secGoals>p {
        padding: 0;
        font-size: 17px;
        line-height: 19px;
        max-width: 240px;
        margin: 0 auto;
    }
    .goalsCreated h2 {
        font-size: 70px;
        line-height: 104px;
        display: inline-block;
        width: 100%;
        text-align: left;
        padding-left: 50px;
    }
    .goalsCreated h3>small{
        display: inline-block;
    }
    .goalsCreated h3>span{
        line-height: 44px;
        font-size: 30px;
    }
    .goalsCreated{
        background-size: 170%;
        background-position-y: 150px;
        padding: 0;
    }
    .funnel-web {
        display: none;
    }
    .funnel-text h1{
        font-size: 70px;
        line-height: 104px;
        width: 100%;
    }
    .goalsCreated h3 {
        display: inline-block;
        padding-right: 170px;
        text-align: center;
        width: 100%;
    }
    .funnel-mobile {
        display: block;
        width: 100%;
    }
    .funnel-text{
        padding-right: 0;
        padding-left: 190px;
    }
    .funnel-text h2 span{
        display: inline-block;
    }
    .secAnalysis{
        padding-bottom: 50px;
    }
    .secAnalysis .row{
        display: inline-block;
        width: 100%;
        margin: 0;
    }
    .secAnalysis .row .col-sm-6{
        max-width: 100%;
        padding: 0;
    }
    .imgArea {
        max-width: 258px;
        margin: 0 auto;
    }
    .secAnalysis .whiteBg {
        text-align: center;
    }
    .secAnalysis .whiteBg p{
        display: inline-block;
        font-size: 17px;
    }
    .secAnalysis .whiteBg span{
        display: inline-block;
        line-height: 35px;
    }
    .secFunctionalities .row{
        display: inline-block;
        width: 100%;
        margin: 0;
    }
    .secFunctionalities .row .col-sm-6{
        max-width: 100%;
    }
    .secFunctionalities .row .col-sm-6:nth-child(2) .functions{
        padding-top:100px; 
    }
    .functions {
        text-align: center;
    }
    .func_img{
        margin: 0 auto;
    }
    .functions h2 {
        font-size: 70px;
        line-height: 104px;
        margin: 0;
        padding: 0!important;
    }
    .functions h3{
        width: 100%;
    }
    .functions h3>small{
        display: inline-block;
    }
    .point-note{
        max-width: 240px;
        font-size: 17px;
        margin: 0  auto;
        padding: 140px 0 0;
    }
    .secServers{
        padding: 0;
    }
    .secServers .row{
        display: inline-block;
        width: 100%;
        margin: 0;
    }
    .secServers .row .col-sm-7, .secServers .row .col-sm-5{
        max-width: 100%;
        padding: 0;
    }
    .serverContent .count {
        width: 100%;
        text-align: center;
        padding: 60px 0 41px;
        margin: 0 auto 30px;
    }
    .commits {
        text-align: center;
        display: table;
        margin: 0 auto;
    }
    .commits span {
        width: auto;
        margin-left: 0;
        display: block;
        line-height: 70px;
        font-size: 20px;
    }
    .commits span>small {
        font-size: 12px;
        bottom: -4px;
        display: inline-block;
        left: 80px;
    }
    .commits>h3{
        text-align: left;
        font-size: 50px;
    }
    .secSupport .row{
        display: inline-block;
        width: 100%;
    }
    .secSupport .row .col-sm-6{
        max-width: 100%;
        margin: 0;
    }
    .supportContent {
        padding: 70px 30px;
    }
    .supportContent>div>p{
        font-size: 70px;
        line-height: 104px;
    }
    .supportContent h2 span{
        font-size: 30px;
        line-height: 44px;
    }
    .supportContent h2 small{
        font-size: 16px;
        line-height: 20px;
    }
    .supportContent h2{
        padding-left: 0;
        margin-top: -10px;
        display: block;
        width: 100%;
    }
    .quries:after {
        bottom: 43px;
        left: 0;
        width: 100%;
    }
    .hours:after{
        bottom: 43px;
        left: 0;
        width: 100%;
    }
    .average>ul>li{
        max-width: 100%;
        width: 100%;
    }
    
    .average>ul>li:nth-child(2) {
        margin-left: 0px;
        margin-top: 30px;
    }
    .supportFigure{
        margin-top: -200px;
    }
    .loveSupport{
        padding: 60px 0;
    }
    .loveSupport .row{
        display: inline-block;
        width: 100%;
        margin: 0;
    }
    .loveSupport .row .col-sm-6{
        max-width: 100%;
        padding: 0;
    }
    .heading>span:first-child {
        font-size: 55px;
        line-height: 82px;
    }
    .heading>span:nth-child(2) {
        font-size: 85px;
        line-height: 20px;
    }
    .heading>span:last-child {
        font-size: 130px;
    }
    .secTwitterlinks p {
        font-size: 100px;
        max-width: 240px;
        margin: 0 auto;
        text-align: center;
        line-height: 100px;
    }
    .secTwitterlinks .quick-links .row{
        display: inline-block;
        max-width: 100%;
        margin: 0;
        width: 100%;
    }
    .secTwitterlinks .quick-links .row .col-sm-6{
        width: 100%;
        padding: 0;
        max-width: 100%;
    }
    .quick-links .tweetBox img{
        width: 100%;
    }
    .quick-links{
        margin-top: -15px;
        padding: 0;
    }
    .secMilestone p {
        font-size: 50px;
        line-height: 74px;
        letter-spacing: 3.57px;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .globallyCustomers h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        padding: 0 35px;
    }
    .globallyCustomers h5 strong {
        font-weight: 600;
    }
    .globallyCustomers h5 br {
        display: none;
    }
    .secMap .cutomers>span,
    .secMap .cutomers em {
        font-size: 40px;
        line-height: 59px;
        display: inline-block;
    }
    .secMap .cutomers small {
        font-size: 12px;
        line-height: 18px;
        display: block;
        margin-top: 15px;
    }
    .secMap .countries>span {
        font-size: 40px;
        line-height: 59px;
        display: inline-block;
    }
    .secMap .countries small {
        font-size: 12px;
        line-height: 18px;
        display: block;
        margin-top: 15px;
    }
    .cutomers {
        padding-right: 40px;
    }
    .cutomers::after {
        height: 60px;
        right: 25px;
        top: 20px;
    }
    .secMap {
        min-height: auto;
        background-size: 100%;
        padding-top: 50px;
        padding-bottom: 80px;
        margin-bottom: 20px;
    }
    .globallyCustomers .container {
        padding: 0 0;
    }
    .secMap::after {
        display: none;
    }
    .conversion-optimize .text h5 {
        font-size: 30px;
        line-height: 36px;
    }
    .conversion-optimize .text p {
        font-size: 14px;
        line-height: 20px;
    }
    .conversion-optimize .text {
        padding-left: 30px;
    }
    .conversion-optimize .image img {
        width: 97%;
        margin: 0 auto;
        display: block;
    }
    .timeline-main::before {
        display: none;
    }
    .devfest-box {
        margin-top: 30px;
    }
    .devfest-box p {
        font-size: 14px;
        line-height: 20px;
        max-width: 240px;
        margin: 10px auto 0;
    }
    .devfest-box p span {
        display: inline;
        width: auto;
    }
    .devfest-box::before,
    .win-growth::before {
        display: none;
    }
    .win-growth {
        margin-top: 30px;
    }
    .win-growth h1 {
        font-size: 34px;
        line-height: 50px;
    }
    .win-growth p {
        font-size: 14px;
        line-height: 20px;
        max-width: 240px;
        margin: 20px auto 0;
    }
    .inktober-box {
        margin-top: 30px;
        padding: 99px 0 96px;
    }
    .inktober-box h1 {
        font-size: 60px;
        line-height: 89px;
    }
    .inktober-box p {
        font-size: 16px;
        line-height: 24px;
        max-width: 240px;
        margin: 25px auto 0;
    }
    .wing-added {
        margin-top: 30px;
    }
    .wing-added h2 {
        font-size: 34px;
        line-height: 50px;
        padding: 0 35px;
        text-align: center;
    }
    .wing-added {
        padding-top: 306px;
    }
    .startup-award {
        background-size: cover;
        background-image: url(../images/award-bg1.png);
    }
    .startup-text {
        padding-left: 19px;
        padding-right: 19px;
    }
    .startup-text p {
        max-width: 168px;
    }
    .startup-text p,
    .startup-text p span {
        font-size: 20px;
        line-height: 35px;
    }
    .startup-text iframe {
        margin-top: 50px;
    }
    .culture-bg .text p {
        font-size: 50px;
        letter-spacing: 3.57px;
        line-height: normal;
    }
    .culture-bg .text h3 {
        font-size: 12px;
        line-height: 18px;
        max-width: 210px;
    }
    .culture-bg .text h3 span {
        display: inline;
    }
    .culture-bg .text h3 span {
        margin-top: 0;
        margin-bottom: 0;
    }
    .culture-bg {
        min-height: auto;
        padding: 25px 0 155px;
        background-position: bottom;
        background-size: 100%;
        background-color: #eff3ff;
    }
    .culture-bg .text {
        max-width: 220px;
        float: right;
    }
    .india-map p {
        font-size: 24px;
        font-weight: normal;
    }
    .map-image svg {
        width: 100%;
    }
    .map-image {
        margin-top: 20px;
    }
    .wingifighters h2 {
        font-size: 24px;
        line-height: normal;
    }
    .wingifighters .numbers h3>span {
        font-size: 50px;
        line-height: normal;
    }
    .wingifighters .numbers h3 small {
        font-size: 20px;
        line-height: normal;
    }
    .wingifighters {
        margin-bottom: 0px;
    }
    .wingifighter-under h2 {
        font-size: 24px;
        font-weight: normal;
        text-align: center;
        padding: 0 70px;
        font-weight: bold;
    }
    .wingifighter-under {
        padding-left: 0;
    }
    .wingifighter-under p.who-love {
        font-size: 70px;
        line-height: 129px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    .why-love-box p {
        text-align: center;
        padding-left: 0;
    }
    .why-love-box {
        margin-bottom: 20px;
    }
    .coconut-water h1 span {
        font-size: 50px;
        line-height: normal;
    }
    .coconut-water h3 {
        font-weight: bold;
        margin-top: 0;
    }
    .conferencesBox {
        margin-top: 20px;
    }
    .side-box h6 {
        font-size: 50px;
    }
    .babiesBox {
        margin-top: 20px;
    }
    .applicationsBox {
        background-size: 150%;
        min-height: 460px;
    }
    .documentsBox {
        background-size: 150%;
        min-height: 460px;
    }
    footer p.heading {
        font-size: 50px;
        line-height: normal;
    }
    .media-images>span {
        position: initial;
        float: left;
        width: 50%;
        margin: 10px 0;
    }
    .media-images>span .round-image {
        animation: none;
        width: 110px;
        height: 110px;
        margin: 0 auto;
    }
    .thankyou p:first-child {
        font-size: 100px;
        line-height: normal;
    }
    .thankyou p {
        font-size: 16px;
        line-height: normal;
        max-width: 250px;
        margin: -20px auto 20px;
    }
    .thankyou h2 {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 50px;
    }
    .try-vwo p {
        max-width: 210px;
        margin: 0 auto;
    }
    .footer-globe .glow {
        display: none;
    }
    .try-vwo p a {
        margin-left: 0;
        margin-top: 10px;
    }
    .footer-globe p {
        font-size: 90px;
        bottom: -100px;
    }
    footer {
        background-size: 260%;
    }
    .funnel-text h2{
        font-size: 30px;
    }
    .secAnalysis .whiteBg h2 {
        font-size: 62px;
    }
    .innerBox .count {
        padding: 60px 0 0 37px;
    }
    .userIcon img {
        max-width: 100px;
    }
    .userIcon{
        margin-top: 65px;
        display: inline-block;
    }
    .scrollDown{
        bottom: 70px;
    }
}
@media only screen and (max-width: 736px){
    .addedUser{
        right: 45px;
        top: 0px;
    }  
}
@media only screen and (max-width: 414px){
    .addedUser{
        right: 25px;
        top: -6px;
    }  
}